{% extends 'base.html'%}
{% block body%}
<div class = "container my-5 px-5 pb-5">
<h3 > About Us</h3>
<P> Lorem ipsum is the filler text that typically demonstrates the font and style of a text in a document or visual demonstration. It serves as a place holder indicating where the text will be in the final iteration.

    Originally from Latin, Lorem ipsum has no intelligible meaning. It is simply a display of letters to be viewed as a sample with given graphical elements in a file.
    
    "Lipsum" (a portmanteau of lorem and ipsum) generators are commonly used to form generic text in a file. The words are adequately like normal text to demonstrate a font, without distracting the reader with its content.
    
    It has been used by printers as placeholder text since the 16th century.
    
    Richard McClintock discovered the origins of the words Lorem Ipsum back in 1982, who published his findings in 1994 in a letter to the editor of Before & After magazine who wrongly claimed that the passage had no meaning.
    
    In fact, it originates from a treatise on the theory of ethics written by Cicero in 45 BC: "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil).
</p>
</div>
<div class = "container-fluid mt-5">
<div class="row row-cols-1 row-cols-cols-sm-2 row-cols-md-4 g-2">
  
    <div class = "container  " style = "background:#E8E8E8">
      <p class = "text-center mt-5"><strong> About Us</strong></p>
      <a class="nav-link text-center st1  "  href="/ourstore">About Online Store</a>
      <a class ="nav-link text-center st1 " href="careers">Careers</a>
      
      <style>
        .st1:hover{
          color:blue;
        }
      </style>
    </div>
    <div class = "container" style = "background:#E8E8E8">
      <p class = "text-center mt-5" ><strong> Information</strong></p>
      <a class="nav-link text-center st1  "  href="/FAQ">FAQ</a>
      <a class ="nav-link text-center st1 " href="/refundpolicy">Return & Refund Policy</a>
      <a class="nav-link text-center st1  "  href="/terms">Terms & Conditions</a>
      
    </div>
    <div class = "container"style = "background:#E8E8E8">
      <p class = "text-center st1" style = "cursor:pointer">  </p>
    </div>
    <div class = "container "style = "background:#E8E8E8">
      <p class = "text-center mt-5"><strong> Customer Support</strong></p>
      <p class = "text-center my-0 px-0 ">Call us at <font color="132371" style = "cursor:pointer"><b>  989898345</b></font></p>
      <p class = "text-center my-0 px-0">Online store Customer Service Hours:</p>
      <p class = "text-center my-0 px-0">Sunday-Saturday: 9AM-6PM</p>
      <p class = "text-center my-0 px-0">You can also mail us at</p>
      <p class = "text-center my-0 px-0"><font color="132371"style = "cursor:pointer"><b>onlinestore1@gmail.com</b></font></p>
      
    </div>
  </div>
</div>
{% endblock body%}