{% extends 'base.html'%}
{% block title %}RICE {% endblock title%}

{% block body%}

<div class = "container my-5" >

  <div class="row row-cols-1 row-cols-cols-sm-2 row-cols-md-4 g-2 my-5 px-5">
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1 ">
          <style>
            html,
            .stl1:hover{
              transform: translateY(-5px);
              padding: 20 20px;
              box-shadow: 0 0 10px 0px;
              cursor: pointer;
              color: brown;
            } 
          </style>
          <img src="/static/img/rice/1.jpg/" width="200" height="250" class="d-block w-100" alt="...">
          <div class="card-body-center">
            <p class="text-center my-0 px-0">Jagat Royal Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        
        </div>
      </div>
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
      
          <img src="/static/img/rice/8.jpg/" width="200" height="250"  class="d-block w-100 px-0 my-0" alt="...">
          <div class="card-body-center">
            <p class="text-center my-0 px-0">Jagat Premium Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
          <img src="/static/img/rice/2.jpg/" width="200" height="250" class="d-block w-100" alt="...">

          <div class="card-body-center">
            <p class="text-center my-0 px-0">Newari Shahi Puloa</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>

      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
          <img src="/static/img/rice/3.jpg/" width="200" height="250" class="d-block w-100" alt="...">

          <div class="card-body-center">
            <p class="text-center my-0 px-0">Har-Pal Indian Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
            
          <img src="/static/img/rice/4.jpg/" width="200" height="250" class="d-block w-100" alt="...">

          <div class="card-body-center">
            <p class="text-center my-0 px-0">Nepal Basmati Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
          <img src="/static/img/rice/5.jpg/" width="200" height="250" class="d-block w-100" alt="...">
          <div class="card-body-center">
            <p class="text-center my-0 px-0">Thakali Premium Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>

          
        </div>
      </div>

      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
          <img src="/static/img/rice/6.jpg/" width="200" height="250" class="d-block w-100" alt="...">

          <div class="card-body-center">
            <p class="text-center my-0 px-0">Jagat Classic Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>
      <div class="col px-5 my-2">
        <div class="card shadow-sm stl1">
          
          <img src="/static/img/rice/7.jpg/" width="200" height="250" class="d-block w-100" alt="...">

          <div class="card-body-center">
            <p class="text-center my-0 px-0">Ripuraj Sonasakti Rice</p>

            <button type="button" class="w-100 btn btn-dark bb-black">View Details</button>
          </div>
        </div>
      </div>
      
      
    </div>

</div>
<!-------------- for more details------------>
  <div class="row row-cols-1 row-cols-cols-sm-2 row-cols-md-4 g-2 ">
  
    <div class = "container  " style = "background:#E8E8E8">
      <p class = "text-center mt-5"><strong> About Us</strong></p>
      <a class="nav-link text-center st1  "  href="/ourstore">About Online Store</a>
      <a class ="nav-link text-center st1 " href="careers">Careers</a>
    <style>
      .st1:hover{
        color:blue;
      }
    </style>
  </div>
  <div class = "container" style = "background:#E8E8E8">
    <p class = "text-center mt-5" ><strong> Information</strong></p>
    <a class="nav-link text-center st1  "  href="/FAQ">FAQ</a>
    <a class ="nav-link text-center st1 " href="/refundpolicy">Return & Refund Policy</a>
    <a class="nav-link text-center st1  "  href="/terms">Terms & Conditions</a>
    
  </div>
  <div class = "container"style = "background:#E8E8E8">
    <p class = "text-center st1" style = "cursor:pointer">  </p>
  </div>
  <div class = "container "style = "background:#E8E8E8">
    <p class = "text-center mt-5"><strong> Customer Support</strong></p>
    <p class = "text-center my-0 px-0 ">Call us at <font color="132371" style = "cursor:pointer"><b>  989898345</b></font></p>
    <p class = "text-center my-0 px-0">Online store Customer Service Hours:</p>
    <p class = "text-center my-0 px-0">Sunday-Saturday: 9AM-6PM</p>
    <p class = "text-center my-0 px-0">You can also mail us at</p>
    <p class = "text-center my-0 px-0"><font color="132371"style = "cursor:pointer"><b>onlinestore1@gmail.com</b></font></p>
    
  </div>
</div>

{% endblock body%}